@{
    ViewData["Title"] = "วัตถุประสงค์";
}
<h2>@ViewData["Title"].</h2>
<p>เป็นศูนย์กลางของเครืองมือต่างๆสำหรับช่วยเหลืองานของ กปภ.สาขา ใช้งานง่าย ติดตั้งง่าย  และลดขั้นตอนการทำงาน<br/>
    รองรับระบบ billing for dos และ CIS
    </p>
